# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http:/www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.vscode

# Backend

gestor-series-plataformes/HELP.md
gestor-series-plataformes/target/
gestor-series-plataformes/.mvn/wrapper/maven-wrapper.jar
gestor-series-plataformes/!**/src/main/**/target/
gestor-series-plataformes/!**/src/test/**/target/

### STS ###
gestor-series-plataformes/.apt_generated
gestor-series-plataformes/.classpath
gestor-series-plataformes/.factorypath
gestor-series-plataformes/.project
gestor-series-plataformes/.settings
gestor-series-plataformes/.springBeans
gestor-series-plataformes/.sts4-cache

### IntelliJ IDEA ###
gestor-series-plataformes/.idea
gestor-series-plataformes/*.iws
gestor-series-plataformes/*.iml
gestor-series-plataformes/*.ipr

### NetBeans ###
gestor-series-plataformes/nbproject/private/
gestor-series-plataformes/nbbuild/
gestor-series-plataformes/dist/
gestor-series-plataformes/nbdist/
gestor-series-plataformes/.nb-gradle/
gestor-series-plataformes/build/
gestor-series-plataformes/!**/src/main/**/build/
gestor-series-plataformes/!**/src/test/**/build/

### VS Code ###
gestor-series-plataformes/.vscode/